openapi: 3.2.0
info:
  title: Lakera Platform Projects API
  description: 'The Lakera Platform API allows Enterprise SaaS customers to create and

    manage Lakera Guard policies and projects programmatically. Policies define

    which detectors apply and at what sensitivity; projects bind an application

    to a policy and an API key scope.'
  version: 2.0.0
  contact:
    name: Lakera
    url: https://www.lakera.ai
    email: support@lakera.ai
servers:
- url: https://api.lakera.ai/v2
  description: Lakera Platform (Global)
security:
- BearerAuth: []
tags:
- name: Projects
  description: Create and manage projects bound to policies.
paths:
  /projects:
    get:
      summary: List Projects
      operationId: listProjects
      tags:
      - Projects
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
    post:
      summary: Create Project
      operationId: createProject
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
  /projects/{project_id}:
    parameters:
    - in: path
      name: project_id
      required: true
      schema:
        type: string
    get:
      summary: Get Project
      operationId: getProject
      tags:
      - Projects
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    put:
      summary: Update Project
      operationId: updateProject
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    delete:
      summary: Delete Project
      operationId: deleteProject
      tags:
      - Projects
      responses:
        '204':
          description: Deleted
components:
  schemas:
    ProjectInput:
      type: object
      required:
      - name
      - policy_id
      properties:
        name:
          type: string
        policy_id:
          type: string
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        policy_id:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
